[submodule "submodules/ahb3lite_pkg"]
	path = submodules/ahb3lite_pkg
	url = https://github.com/RoaLogic/ahb3lite_pkg.git
[submodule "submodules/memory"]
	path = submodules/memory
	url = https://github.com/RoaLogic/memory.git
